# macOS
.DS_Store
*/.DS_Store
**/.DS_Store

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log

# Dependencies
node_modules/
vendor/

# Build
Gemfile.lock

# Certifications (private)
# certifications.html
# _data/certifications.yml
# _layouts/certification.html

# dsa-series (private)
series/dsa
_posts/dsa

# projects (private)
projects.html
_data/projects.yml

# case-studies (private)
case-studies.html
_case_studies/
_layouts/case-study.html
case-studies/

# Product Management Series (private)
series/pm
_posts/pm

# Token by Token (private)
# TokenByToken.html
# series/
# _posts/
_posts/machine-learning/2025-07-01-intro-ml.md
_posts/nlp/
series/nlp/

