---
# Front matter required for Jekyll to process this file
---

// Import all SCSS modules
@import "variables";
@import "base";
@import "navigation";
@import "hero";
@import "cards";
@import "buttons";
@import "blog";
@import "manifesto";
@import "footer";
@import "animations";
@import "code";
@import "tables";
@import "about";
@import "resume";
@import "dark-mode";
@import "responsive";
