---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

<nav class="nav">
  <strong>Mayank Sharma</strong>
  <div>
    <a href="/blog.html">Blog</a>
    <a href="/">Home</a>
  </div>
</nav>

<div class="container section fade-in">
  <h1>{{ page.title }}</h1>
  <p class="muted">
    {{ page.date | date: "%b %d, %Y" }}
  </p>

  {{ content }}
</div>

<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


</body>
</html>
